@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@1,500&family=Lato:ital@1&family=Raleway&display=swap');
.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
}

body {
    background-color: #000000;
}

h1 {
    margin: 30px;
    font-family: 'Advent Pro', sans-serif;
    text-shadow: 5px 0 #232931;
    font-size: 5rem;
    color: #eae0d5;
}

p {
    font-size: 2rem;
    color: #c6ac8f;
    font-family: 'Indie Flower', cursive;
}

img {
    width: 80%;
}

footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}